@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --orange: #ffa500;
  --margin: 50px 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
body {
  height: 700vh;
}
/* Start Navbar */
.navbar {
  background-color: #333;
  position: fixed;
  z-index: 999;
  width: 100%;
}
@media (max-width: 1010px) {
  .navbar {
    padding: 0 2%;
  }
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav .bar {
  color: #fff;
  font-size: 26px;
  border: 1px solid #fff;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.navbar nav .bar:hover {
  color: var(--orange);
}
@media (max-width: 845px) {
  .navbar nav .bar {
    display: initial;
  }
}
.navbar nav h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 767px) {
  .navbar nav h1 {
    font-size: 22px;
  }
}
.navbar nav h1 span {
  color: var(--orange);
}
.navbar nav ul {
  display: flex;
}
@media (max-width: 845px) {
  .navbar nav ul {
    display: none;
  }
}
.navbar nav ul li a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
}
.navbar nav ul li a:hover {
  color: var(--orange);
}
.navbar nav .icons i {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 767px) {
  .navbar nav .icons i {
    font-size: 22px;
  }
}
.navbar nav .icons i:hover {
  color: var(--orange);
}
/* End Navbar */

/* Start Home */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 53px;
  z-index: 1;
  position: relative;
}
.home .content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
}
.home .content h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .home .content h1 {
    font-size: 35px;
  }
}
.home .content h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .home .content h3 {
    font-size: 20px;
  }
}
.home .content .shufell {
  background-color: rgba(0, 0, 0, 0.7);
  width: fit-content;
  padding: 10px;
  border-radius: 50px;
  margin: 100px auto 0;
}
.home .content .shufell ul {
  width: fit-content;
  display: flex;
  margin: auto;
}
.home .content .shufell ul li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
}
.home .content .shufell ul li:hover,
.home .content .shufell ul li.active {
  background-color: var(--orange);
}
.home .video {
  width: 100%;
  height: 100%;
}
.home .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End Home */

/* Start Book */
.book .d-flex form {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 10px #ccc;
  padding: 20px;
  border-radius: 5px;
}
.book .d-flex .col {
  flex-basis: 45%;
}
.book .d-flex form label {
  font-weight: bold;
  color: #666;
  font-size: 20px;
}
.book .d-flex form input {
  margin: 14px 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 10px 6px;
  text-transform: lowercase;
}
.book .d-flex form button {
  padding: 10px 30px;
}
@media (max-width: 476px) {
  .book .d-flex form button {
    padding: 8px 20px;
  }
}
/* End Book */

/* Start packages */
.packages {
  margin: var(--margin);
}
.packages .d-flex .col-md {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
  height: 70vh;
}
@media (max-width: 767px) {
  .packages .d-flex .col-md {
    height: auto;
  }
}
.packages .d-flex .col-md img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 45%;
  object-fit: cover;
}
.packages .d-flex .col-md .content {
  padding: 15px;
}
.packages .d-flex .col-md .content span {
  font-size: 22px;
  font-weight: 700;
}
.packages .d-flex .col-md .content span i {
  color: var(--orange);
}
.packages .d-flex .col-md .content p {
  margin: 10px 0;
  color: #666;
  font-size: 16px;
}
.packages .d-flex .col-md .content div i {
  color: var(--orange);
}
.packages .d-flex .col-md .content .price {
  margin: 10px 0;
}
.packages .d-flex .col-md .content .price span {
  font-weight: 500;
  margin-right: 5px;
  font-size: 20px;
}
.packages .d-flex .col-md .content .price small {
  text-decoration: line-through;
  color: #666;
}
/* End packages */

/* Start services */
.services {
  text-align: center;
}
.services .d-flex .col-md {
  box-shadow: none;
  border-radius: 5px;
  padding: 20px;
}
.services .d-flex .col-md img {
  height: 60%;
  object-fit: cover;
}
.services .d-flex .col-md:hover {
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}
.services .d-flex .col-md i {
  color: var(--orange);
  font-size: 50px;
}
.services .d-flex .col-md h3 {
  margin: 10px 0 13px 0;
  font-size: 30px;
}
@media (max-width: 767px) {
  .services .d-flex .col-md h3 {
    font-size: 20px;
  }
}
.services .d-flex .col-md p {
  color: #666;
  font-size: 14px;
}
/* End services */

/* Start Gallery */
.gallery .d-flex .col-md {
  height: 40vh;
  position: relative;
  overflow: hidden;
  transition: 1s;
  border: 6px solid #fff;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}
.gallery .d-flex .col-md .info {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: -50%;
  left: 50%;
  padding: 50px 20px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;
}
@media (max-width: 467px) {
  .gallery .d-flex .col-md .info {
    padding-top: 20px;
  }
}
.gallery .d-flex .col-md:hover .info {
  top: 50%;
}
.gallery .d-flex .col-md .info h3 {
  color: var(--orange);
  font-weight: bold;
  font-size: 24px;
}
.gallery .d-flex .col-md .info p {
  color: #fff;
  margin: 10px 0;
}
.gallery .d-flex .col-md img {
  height: 100%;
  object-fit: cover;
}
/* End Gallery */

/* Start Review */
.review .d-flex .col-lg img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.review .d-flex .col-lg h3 {
  margin: 10px 0;
  color: #333;
}
.review .d-flex .col-lg p {
  color: #666;
}
.review .d-flex .col-lg div i {
  color: var(--orange);
  margin: 10px 0;
}
/* End Review */

/* Start Company */
.company .d-flex {
  flex-wrap: nowrap;
}
.company .d-flex .col {
  flex-basis: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .company .d-flex .col {
    flex-direction: row !important;
  }
}
.company .d-flex img {
  width: 15%;
}

/* End Company */

/* Start Contact */
.contact .d-flex form {
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
  padding: 20px;
}
.contact .d-flex .col input {
  width: 45%;
}
.contact .d-flex .col input,
.contact .d-flex .col textarea {
  background-color: #f7f7f7;
  color: #333;
  margin: 10px 0;
  padding: 10px;
  resize: none;
  width: 100%;
}
/* End Contact */

/* Start Footer */
footer {
  background-color: #333;
  color: #fff;
  padding-top: 5px;
}
footer .d-flex {
  margin-bottom: 0;
  align-items: initial;
  justify-content: space-between;
}
footer .d-flex div h3 {
  margin: 10px 0;
  font-size: 24px;
}
footer .d-flex div p {
  line-height: 1.4;
}
footer .d-flex div ul li {
  margin: 10px 0;
}
footer .d-flex div ul li:hover {
  color: var(--orange);
  text-decoration: underline;
  cursor: pointer;
}
footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 22px 0;
  font-size: 24px;
}
@media (max-width: 767px) {
  footer .copyright {
    font-size: 14px;
  }
}
footer .copyright span {
  color: var(--orange);
}
/* End Footer */

/* Start Component */
.container {
  padding: 0 10%;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: #fff;
  padding: 8px 20px;
  border-radius: 2px;
  cursor: pointer;
  width: fit-content;
}
.btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
}
.heading {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 476px) {
  .heading {
    font-size: 18px;
  }
}
.heading span {
  background-color: rgba(255, 165, 0, 0.2);
  color: var(--orange);
  padding: 4px 8px;
  border-radius: 5px;
}
.heading .space {
  background: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
}
@media (max-width: 767px) {
  .d-flex {
    flex-direction: column;
  }
}
.d-flex .col-lg {
  flex-basis: 40%;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
  padding: 10px;
  margin: 10px;
}
@media (max-width: 767px) {
  .d-flex .col-lg {
    flex-basis: 100%;
  }
}
.d-flex .col-lg-4 {
  flex-basis: 30%;
}
@media (max-width: 991px) {
  .d-flex .col-lg-4 {
    flex-basis: 50%;
    margin: 20px 0;
  }
}
.d-flex .col-lg-3 {
  flex-basis: 20%;
  margin: 10px;
}
@media (max-width: 991px) {
  .d-flex .col-lg-3 {
    flex-basis: 40%;
    margin: 20px 0;
  }
}
.d-flex .col {
  flex-basis: 50%;
}
.d-flex .col-md {
  flex-basis: 30%;
  margin: 10px;
}
@media (max-width: 991px) {
  .d-flex .col-md {
    flex-basis: 45%;
    margin: 15px;
  }
}
@media (max-width: 767px) {
  .d-flex .col-md {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .d-flex .col {
    flex-basis: 100%;
    width: 100%;
  }
}
img {
  width: 100%;
}
.center {
  text-align: center;
}
/* End Component */

.scroll {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--orange);
  color: #fff;
  position: fixed;
  z-index: 99999;
  right: 20px;
  bottom: 40px;
  text-align: center;
  line-height: 40px;
}
.scroll:hover {
  background-color: #FFF;
  color: var(--orange);
}
